CONTRACT_ID=your_contract_id_here
EMPLOYER_SECRET_KEY=YOUR_SECRET_KEY
PORT=3001
NETWORK=testnet
SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
HORIZON_RPC_URL=https://horizon-testnet.stellar.org
PASSPHRASE="Test SDF Network ; September 2015"
